include /mixins/script.pug
include /mixins/post_script.pug
doctype html 
html(lang="zh")
    head 
        +prelude(post)
        +meta(post)
        +useComponent('Neo/Basic')
        +useComponent('Neo/Footer')
        +useComponent('Neo/NavigationBar')
        title= __title__(post.title,'read')
    body.colorful(OCP='OVERRIDE',style='--bColor:'+plugin.getColorByString(post.content).toHex())
        +NavigationBar({transparent: true, foregroundColor: plugin.getColorByString(post.content).toGrayscale() > 50 ? '#000' : '#fff'})
        +PageLabel(i18n('About'))
        main
            article.uWcon
                #markdown_fillContent.container!= post.parsed.content
        +Footer
