extends /frame.pug
include /mixins/post_script.pug

append head
    +prelude(post)
    +meta(post)
    title= __title__(post.title,'read')

block content
    article.NeoWidget
        #markdown_fillContent.container!= post.parsed.content