include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,each.name)
        +useComponent('Neo/Basic')
        +useComponent('Neo/Footer')
        +useComponent('Neo/LabeledCard')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/PageNavigator')
        +useComponent('Neo/SearchComp')
        +useComponent('Neo/Widgets/UserIntro')
        +useComponent('Neo/Widgets/CateList')
        +useComponent('Neo/Widgets/TagList')
        title= __title__(each.name,user.name)
    body(OCP='OVERRIDE')
        +NavigationBar
        main.uWcon.withSide.no-anim
            .sideCon
                +Widget-UserIntro(user)
                .stickyGroup
                    +Widget-CateList
                    +Widget-TagList
            .mainCon#NEO_REPLACE
                .NeoWidget
                    h2.category-name= each.name
                    each bid in split.value
                        +LabeledCard(IDMap.get(+bid))
                +PageNavigator(split.total,split.now,'category/s'+each.name)
        +Footer