include /mixins/script.pug
doctype html 
html(lang="zh")
    head
        block head
            +useBasic
    body(OCP='OVERRIDE')
        +NavigationBar
        main.uWcon.withSide.no-anim#NEO_MAIN
            .sideCon#NEO_SIDE
            .mainCon#NEO_REPLACE
                block content
        +Footer