include /mixins/script.pug
doctype html 
html(lang="zh")
    head
        +meta(user.note,user.keyword||'')
        +use('KUserIntro')
        +useComponent('Neo/Basic')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/Footer')
        +useComponent('Neo/SearchComp')
        +useComponent('Neo/PostCard')
        if sort.defaultOrder.length>10
            +useComponent('Neo/PageNavigator')
        title= __title__(i18n('Home'),user.name)
    body(OCP='OVERRIDE')
        +NavigationBar
        +KUserIntro
        br
        main.uWcon
            ul.cPostCon
                each bid in sort.defaultOrder.slice(0,10)
                    +PostCard(IDMap.get(bid))
                    br
        if sort.defaultOrder.length>10
            +PageNavigator(Math.ceil(sort.defaultOrder.length/10),1,'page')
        +Footer