include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,i18n('Posts'))
        +BasicStyleSheet
        +BasicECMAScript
        +useComponent('Neo/Basic')
        +useComponent('Neo/PageNavigator.Test')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/Footer')
        +useComponent('Neo/SearchComp')
        title= __title__(i18n('Posts'),user.name)
    body(OCP='OVERRIDE') 
        +NavigationBar
        +PageLabel(i18n('Posts') + i18n('Page '+cycling.now))
        main.uWcon
            ul.cPostCon
                each bid in sort.defaultOrder.slice(10*(cycling.now-1),10*(cycling.now))
                    +SinglePost(IDMap.get(bid))
                    br
            +PageNavigator(cycling.total,cycling.now,'page')
        +Footer