include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,i18n('Posts'))
        +useComponent('Neo/Basic')
        +useComponent('Neo/PageNavigator')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/Footer')
        +useComponent('Neo/SearchComp')
        +useComponent('Neo/PostCard')
        +useComponent('Neo/Widgets/UserIntro')
        +useComponent('Neo/Widgets/CateList')
        +useComponent('Neo/Widgets/TagList')
        title= __title__(i18n('Posts'),user.name)
    body(OCP='OVERRIDE') 
        +NavigationBar
        br
        main.uWcon.withSide.no-anim
            .sideCon
                +Widget-UserIntro(user)
                .stickyGroup
                    +Widget-CateList
                    +Widget-TagList
            .mainCon#NEO_REPLACE
                ul.cPostCon
                    +PostCard(IDMap.get(sort.defaultOrder[10*(cycling.now-1)]))
                    each bid in sort.defaultOrder.slice(10*(cycling.now-1)+1,10*(cycling.now))
                        br
                        +PostCard(IDMap.get(bid))
                +PageNavigator(cycling.total,cycling.now,'page')
        +Footer