include /mixins/script.pug
include /mixins/type_script.pug
doctype html
html 
    head
        +meta(user.note,user.keyword||i18n('Tags'))
        +useBasic
        title= __title__(i18n('Tags'),user.name)
    body.new(OCP='OVERRIDE')
        +NavigationBar
        main.uWcon.withSide.no-anim
            .sideCon#NEO_SIDE
            .mainCon#NEO_REPLACE
                .cSortCon.NeoWidget
                    each item in split.value
                        +SingleSort(item.value,'tag')
                +PageNavigator(split.total,split.now,'tag')
        +Footer