include /mixins/script.pug
include /mixins/type_script.pug
doctype html
html 
    head
        +meta(user.note,user.keyword||i18n('Tags'))
        +useComponent('Neo/Basic')
        +useComponent('Neo/Footer')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/SearchComp')
        +useComponent('Neo/PageNavigator')
        +useComponent('Neo/PostCard')
        +useComponent('Neo/Widgets/UserIntro')
        +useComponent('Neo/Widgets/CateList')
        +useComponent('Neo/Widgets/TagList')
        title= __title__(i18n('Tags'),user.name)
    body.new(OCP='OVERRIDE')
        +NavigationBar
        main.uWcon.withSide.no-anim
            .sideCon
                +Widget-UserIntro(user)
                +Widget-CateList
                +Widget-TagList
            .mainCon#NEO_REPLACE
                .cSortCon.NeoWidget
                    each item in cycling.value
                        +SingleSort(item.value,'tag')
                +PageNavigator(cycling.total,cycling.now,'tag')
        +Footer