extends /frame.pug

append head
    +meta(user.note,each.name)
    +useComponent('Neo/LabeledCard')
    title= __title__(each.name,user.name)

block content
    .NeoWidget
        h2.category-name= each.name
        each bid in split.value
            +LabeledCard(IDMap.get(+bid))
    +PageNavigator(split.total,split.now,'tag/s'+each.name)