include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,varias.name)
        +useComponent('Neo/Basic')
        +useComponent('Neo/Footer')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/PageNavigator')
        title= __title__(varias.name,user.name)
    body(OCP='OVERRIDE')
        +NavigationBar
        +PageLabel(i18n('Tag')+' - '+varias.name)
        main.uWcon
            ul.cPostCon
                each bid in cycling.value
                    +SinglePost(IDMap.get(+bid))
        +PageNavigator(cycling.total,cycling.now,'tag/s'+varias.name)
        +Footer