include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,each.name)
        +useBasic
        +useComponent('Neo/LabeledCard')
        title= __title__(each.name,user.name)
    body(OCP='OVERRIDE')
        +NavigationBar
        main.uWcon.withSide.no-anim
            .sideCon#NEO_SIDE
            .mainCon#NEO_REPLACE
                .NeoWidget
                    h2.category-name= each.name
                    each bid in split.value
                        +LabeledCard(IDMap.get(+bid))
                +PageNavigator(split.total,split.now,'tag/s'+each.name)
        +Footer